@using FaradayGrpcServer
@{
    ViewBag.Title = "Bookings";

    var bookingListDTO = (List<BookingModel>)ViewData["booking"];  //Getting the data through the controller.



}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/cancelbookingpage.css" rel="stylesheet" />
</head>
<body>

    <div id="myDIV" class="showBookingHeader">
        <h2 style="margin:5px">Show Bookings</h2>
        <input type="text" id="myInput" placeholder="Search for booking">
        <span onclick="newElement()" class="searchBtn">Search</span>
    </div>
    <form action="getSelectedCancelBooking" method="post">
        <select name="selectedCancelBooking">
            @foreach (var booking in bookingListDTO)
            {
                <option>Booking ref. @booking.Id  car rented: @booking.Car.Brand by: @booking.Customer.FirstName pickedup at: @booking.PickupLocation.City the: @booking.PickupDate</option>
                ;
            }*
        </select>
        @*<ul id="list" class="myUL">
            @foreach (var booking in bookingListDTO)
            {
                <li>@booking.Car.Price  @booking.Customer.FirstName</li>
            }
        </ul>*@
    <button type="submit" class="button">Cancel</button>
    </form>


    <script type="text/javascript" src="~/js/cancelbooking.js"></script>
    
    @*<script>
        var items = document.querySelectorAll("#list li"), tab = [], index;
        var selectedItemValue;

        // add values to the array
        for (var i = 0; i < items.length; i++) {
            tab.push(items[i].innerHTML);
        }

        // get selected element index
        for (var i = 0; i < items.length; i++) {
            items[i].onclick = function () {

                selectedItemValue = this.innerHTML;
                console.log(this.innerHTML);
            };
        }

        
        @using FaradayGrpcServer
        @using FaradayFE.Controllers
        @{
         HomeController.test = selectedItemValue;
        }
    </script>*@

</body>
</html>

