@using FaradayFE.Content
@using FaradayFE.protobufferrepo
@using FaradayGrpcServer
@using FaradayFE.Controllers
@{
    ViewBag.Title = "Create Booking"; // title of the site.

    var locationListDTO = (List<LocationModel>)ViewData["location"];  //Getting the data through the controller.
    var bookingModel = (BookingModel)ViewData["bookingComplete"];
    

    //    void selectedMethod()
    //    {
    //        HomeController homeController = new HomeController();
    //        homeController.setSelectedCar(strUser.to)

    //}


    var carListDTO = new List<CarModel>();  //Getting the data through the controller.

    string dateInput = "";
    string selectedCar = "";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Description</title>
    <link href="~/css/createbookingpage.css" rel="stylesheet" />
</head>
<body asp-area="" asp-controller="Home" asp-action="CreateBooking2">
    <div class="form-container">
        @*@using (Html.BeginForm("SelectedCar", "Home", new { clubid = @Viewbag. }, FormMethod.Post, null)))
            {*@
        <form onsubmit="selectedItem()" action="getCustomerDetails" method="post">
            <div class="city-pcikup-row">
                <div class="form-group">
                    <span class="form-label">Select your pickup place</span>
                    <select name="cityList">
                        @foreach (var location in locationListDTO)
                        {
                            <option>@location.Address</option>
                            ;
                        }*
                    </select>
                </div>
            </div>
            <div class="city-dropoff-row">
                <div class="form-group">
                    <span class="form-label">Select your drop of place</span>
                    <select name="citydropoff">
                        @foreach (var location in locationListDTO)
                        {
                            <option>@location.Address</option>
                            ;
                        }*
                    </select>
                </div>
            </div>
            <div class="delivery-row">
                <div class="form-group">
                    <span class="form-label">Select delivery time</span>
                    <input type="datetime-local" name="selectedDate" id="selectedDate" value="" required />
                </div>
            </div>
            <div class="Availalbecars-row">
                <div class="form-group">
                    <span class="form-label">Select a Car</span>
                    <select id="carList" name="carList">
                        @foreach (var place in await HomeController.GetCarModels())
                        {
                            <option value="@place.Brand">@place.Brand</option>
                            ;
                        }
                    </select>
                </div>
            </div>

            <div class="name-row">
                <div class="form-group">
                    <input type="text" name="firstname" value="" placeholder="Firstname" pattern="[a-zA-Z]*"/>
                </div>
            </div>
            <div class="phone-row">
                <div class="form-group">
                    <input type="text" name="lastname" value="" placeholder="Lastname" pattern="[a-zA-Z]*"/>
                </div>
            </div>
            <div class="driverlicens-row">
                <div class="form-group">
                    <input type="text" name="driverlicens" value="" placeholder="driverlicens" pattern="[1-9]*" required minlength="8" maxlength="12" />
                </div>
            </div>
            <div class="gender-row">
                <div class="form-group">
                    <select name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="button-row">
                <div class="form-group">
                    <button type="submit" class="button">Book car</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

<script>

    function selectedItem() {
        alert("Succefully created a new book");
    }
</script>